<section data-ng-controller="HomeController">
	<div class="jumbotron text-center whiteDgray">

		<div class="whiteDgray" style="height: 550px">
			<carousel interval="myInterval">
				<slide ng-repeat="slide in slides" active="slide.active">
					<div class="item pCarouselImg">
						<img class="pCarouselImg" data-ng-src="{{slide.image}}" style="margin:auto;">
					</div>
					<div class="carousel-caption">
						<!--<h4>Slide {{$index}}</h4>-->
						<!--<p>{{slide.text}}</p>-->
					</div>
				</slide>
			</carousel>
		</div>


		<div class="row">
			<tabset>
				<!--<tab heading="Static title">Static content</tab>-->
				<tab ng-repeat="tab in tabs" heading="{{tab.title}}" active="tab.active" disabled="tab.disabled">


					<div class="col-md-4" data-ng-show="tab.showFlag == 1">
						<h2>
							{{tab.content}}
						</h2>
						<p><a href="/#!/pictures/0" class="thumb"><img ng-src="modules/core/img/slider/1.jpg" class="thumb-big"></a></p>
					</div>
				</tab>
				<!--<tab select="alertMe()">-->
					<!--<tab-heading>-->
						<!--<i class="glyphicon glyphicon-bell"></i> Alert!-->
					<!--</tab-heading>-->
					<!--I've got an HTML heading, and a select callback. Pretty cool!-->
				<!--</tab>-->

			</tabset>


			<!--<div class="col-md-4">-->
				<!--<h2>-->
					<!--<strong>P</strong>laces-->
				<!--</h2>-->
				<!--<p><a href="/#!/pictures/0" class="thumb"><img ng-src="modules/core/img/slider/1.jpg" class="thumb-big"></a></p>-->
			<!--</div>-->
<!---->
			<!--<div class="col-md-4">-->
				<!--<h2>-->
					<!--<strong>A</strong>rchitecture-->
				<!--</h2>-->
				<!--<a><a href="/#!/pictures/1" class="thumb"><img ng-src="modules/core/img/slider/3.jpg" class="thumb-big"></a></p>-->
			<!--</div>-->
<!---->
			<!--<div class="col-md-4">-->
				<!--<h2>-->
					<!--<strong>L</strong>andscape-->
				<!--</h2>-->
				<!--<a><a href="/#!/pictures/2" class="thumb"><img ng-src="modules/core/img/slider/5.jpg" class="thumb-big"></a></p>-->
			<!--</div>-->

	</div>

</section>
