<section data-ng-controller="HomeController">
	<div class="text-center">

		<div class="whiteOnBlack" >
			<carousel interval="myInterval">
				<slide ng-repeat="slide in slides | filter:sliderAlbum" active="slide.active" data-ng-init="initImg(slide.album._id)">
					<div class="item pCarouselImg">
						<!--{{slide}}-->
						<img class="pCarouselImg" data-ng-src="{{mainAlbumDir + '/' + albumgroupName + '/' + albumName + '/' + slide.filename}}" style="margin:auto;">
					</div>
					<div class="carousel-caption">
						<!--<h4>Slide {{$index}}</h4>-->
						<!--<p>{{slide.text}}</p>-->
					</div>
				</slide>
			</carousel>
		</div>
		<br><br>
		<div class="row">
			<tabset >
				<tab ng-repeat="tab in tabs">
					<tab-heading ng-class="{new:tab.new}">{{tab.name}}</tab-heading>
					<div class="col-md-4" data-ng-repeat="album in albums | filter:tab._id">
						<h2>
							{{album.name}}
						</h2>
						<p><a href="/#!/pictures_render/{{album._id}}/{{album.name}}/{{album.albumgroup.name}}" class="thumb"><img ng-src="{{mainAlbumDir}}/{{tab.name}}/{{album.name}}/{{album.thumbnail}}" class="thumb-big"></a></p>
					</div>
				</tab>

			</tabset>
		</div>
	</div>

</section>
