<section data-ng-controller="HomeController">
	<div class="jumbotron text-center whiteOnGray">

		<div style="height: 550px">
			<carousel interval="myInterval">
				<slide ng-repeat="slide in slides" active="slide.active">
					<div class="item pCarouselImg">
						<img class="pCarouselImg" data-ng-src="{{slide.image}}" style="margin:auto;">
					</div>
					<div class="carousel-caption">
						<!--<h4>Slide {{$index}}</h4>-->
						<!--<p>{{slide.text}}</p>-->
					</div>
				</slide>
			</carousel>
		</div>

	<div>
		<h2>Albums</h2>
	</div>


	<div class="row">
			<div class="col-md-4">
				<h2>
					<strong>P</strong>laces
				</h2>
				<p><a href="/#!/pictures" class="thumb"><img ng-src="modules/albums/places/1265282_10202300476172512_195772845_o.jpg" class="thumb-big"></a></p>
			</div>

			<div class="col-md-4">
				<h2>
					Album <strong>2</strong>
				</h2>
				<a><a href="#" class="thumb"><img ng-src="modules/core/img/slider/2.jpg" class="thumb-big"></a></p>
			</div>

			<div class="col-md-4">
				<h2>
					Album <strong>3</strong>
				</h2>
				<a><a href="#" class="thumb"><img ng-src="modules/core/img/slider/3.jpg" class="thumb-big"></a></p>
			</div>

	</div>

</section>
