<section data-ng-controller="PictureController">

    <div class="row">
        <div class="col-md-4" data-ng-repeat="picture in pictures">

            <p class="myFooter">{{text}}xxxx</p>
            <p><img data-ng-src="{{picture.filepath}}" class="edna"></p>

            <!--<h3 class="titleSize">{{movie.name | uppercase}}</h3>-->
            <!--<p>-->
                <!--<img data-ng-src="{{movie.thumb}}" class="thumb-big">-->
            <!--</p>-->
            <!--<p>{{movie.review | limitTo:99}}...</p>-->

        </div>

    </div>
</section>
