<section data-ng-controller="PictureController">
    <!--<div class="col-md-10 edna">-->
        <!--Body content-->
        <ul class="phones">
            <li data-ng-repeat="picture in pictures">
                <!--<a href="#/phones/{{phone.id}}" class="thumb"><img ng-src="{{phone.imageUrl}}"></a>-->

                <!--<a href="#/phones/{{phone.id}}">{{phone.name}}</a>-->
                <img data-ng-src="{{picture.filepath}}" class="edna"><br><br>
            </li>
        </ul>
    <!--</div>-->
</section>
