.content {
	margin-top: 50px;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty {
	border-color: #FA787E;
}
.ng-valid.ng-dirty {
	border-color: #78FA89;
}

.pCarouselImg Img {
	width: auto;
	height: 400px;
	max-height: 400px;
}

.thumb-big {
	height: 159px;
	width: 209px;
}

.edna {
	height: 525px;
	width: auto;
}

.myFooter {
	color: #FA787E;
	background-color: black;
	height: 30px;
}

.whiteDgray {
	color: white;
	background-color: rgb(32,32,32);
}

.whiteOnBlack {
	color: white;
	background-color: black;
}






.navbar-inverse-edna {
	background-color: black;
	border-color: #080808;
}
.navbar-inverse-edna .navbar-brand {
	color: #9d9d9d;
}
.navbar-inverse-edna .navbar-brand:hover,
.navbar-inverse-edna .navbar-brand:focus {
	color: #fff;
	background-color: transparent;
}
.navbar-inverse-edna .navbar-text {
	color: #9d9d9d;
}
.navbar-inverse-edna .navbar-nav > li > a {
	color: #9d9d9d;
}
.navbar-inverse-edna .navbar-nav > li > a:hover,
.navbar-inverse-edna .navbar-nav > li > a:focus {
	color: #fff;
	background-color: transparent;
}
.navbar-inverse-edna .navbar-nav > .active > a,
.navbar-inverse-edna .navbar-nav > .active > a:hover,
.navbar-inverse-edna .navbar-nav > .active > a:focus {
	color: #fff;
	background-color: #080808;
}
.navbar-inverse-edna .navbar-nav > .disabled > a,
.navbar-inverse-edna .navbar-nav > .disabled > a:hover,
.navbar-inverse-edna .navbar-nav > .disabled > a:focus {
	color: #444;
	background-color: transparent;
}
.navbar-inverse-edna .navbar-toggle {
	border-color: #333;
}
.navbar-inverse-edna .navbar-toggle:hover,
.navbar-inverse-edna .navbar-toggle:focus {
	background-color: #333;
}
.navbar-inverse-edna .navbar-toggle .icon-bar {
	background-color: #fff;
}
.navbar-inverse-edna .navbar-collapse,
.navbar-inverse-edna .navbar-form {
	border-color: #101010;
}
.navbar-inverse-edna .navbar-nav > .open > a,
.navbar-inverse-edna .navbar-nav > .open > a:hover,
.navbar-inverse-edna .navbar-nav > .open > a:focus {
	color: #fff;
	background-color: #080808;
}
@media (max-width: 767px) {
	.navbar-inverse-edna .navbar-nav .open .dropdown-menu > .dropdown-header {
		border-color: #080808;
	}
	.navbar-inverse-edna .navbar-nav .open .dropdown-menu .divider {
		background-color: #080808;
	}
	.navbar-inverse-edna .navbar-nav .open .dropdown-menu > li > a {
		color: #9d9d9d;
	}
	.navbar-inverse-edna .navbar-nav .open .dropdown-menu > li > a:hover,
	.navbar-inverse-edna .navbar-nav .open .dropdown-menu > li > a:focus {
		color: #fff;
		background-color: transparent;
	}
	.navbar-inverse-edna .navbar-nav .open .dropdown-menu > .active > a,
	.navbar-inverse-edna .navbar-nav .open .dropdown-menu > .active > a:hover,
	.navbar-inverse-edna .navbar-nav .open .dropdown-menu > .active > a:focus {
		color: #fff;
		background-color: #080808;
	}
	.navbar-inverse-edna .navbar-nav .open .dropdown-menu > .disabled > a,
	.navbar-inverse-edna .navbar-nav .open .dropdown-menu > .disabled > a:hover,
	.navbar-inverse-edna .navbar-nav .open .dropdown-menu > .disabled > a:focus {
		color: #444;
		background-color: transparent;
	}
}
.navbar-inverse-edna .navbar-link {
	color: #9d9d9d;
}
.navbar-inverse-edna .navbar-link:hover {
	color: #fff;
}
.navbar-inverse-edna .btn-link {
	color: #9d9d9d;
}
.navbar-inverse-edna .btn-link:hover,
.navbar-inverse-edna .btn-link:focus {
	color: #fff;
}
.navbar-inverse-edna .btn-link[disabled]:hover,
fieldset[disabled] .navbar-inverse-edna .btn-link:hover,
.navbar-inverse-edna .btn-link[disabled]:focus,
fieldset[disabled] .navbar-inverse-edna .btn-link:focus {
	color: #444;
}


.whiteFont {
	color: white;
}





.nav-tabs {
	border-bottom: 1px solid #ddd;
}
.nav-tabs > li {
	float: left;
	margin-bottom: -1px;
}
.nav-tabs > li > a {
	margin-right: 2px;
	line-height: 1.42857143;
	border: 1px solid transparent;
	border-radius: 4px 4px 0 0;
}
.nav-tabs > li > a:hover {
	border-color: #eee #eee #ddd;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
	color: darkgray;
	cursor: default;
	background-color: #fff;
	border: 1px solid #ddd;
	border-bottom-color: transparent;
}
.nav-tabs.nav-justified {
	width: 100%;
	border-bottom: 0;
}
.nav-tabs.nav-justified > li {
	float: none;
}
.nav-tabs.nav-justified > li > a {
	margin-bottom: 5px;
	text-align: center;
}
.nav-tabs.nav-justified > .dropdown .dropdown-menu {
	top: auto;
	left: auto;
}
@media (min-width: 768px) {
	.nav-tabs.nav-justified > li {
		display: table-cell;
		width: 1%;
	}
	.nav-tabs.nav-justified > li > a {
		margin-bottom: 0;
	}
}
.nav-tabs.nav-justified > li > a {
	margin-right: 0;
	border-radius: 4px;
}
.nav-tabs.nav-justified > .active > a,
.nav-tabs.nav-justified > .active > a:hover,
.nav-tabs.nav-justified > .active > a:focus {
	color: orange;
	border: 1px solid #ddd;
}
@media (min-width: 768px) {
	.nav-tabs.nav-justified > li > a {
		border-bottom: 1px solid #ddd;
		border-radius: 4px 4px 0 0;
	}
	.nav-tabs.nav-justified > .active > a,
	.nav-tabs.nav-justified > .active > a:hover,
	.nav-tabs.nav-justified > .active > a:focus {
		border-bottom-color: #fff;
	}
}


.nav-tabs > li.dropdown-header > a,
.nav-tabs > li.dropdown-header > a:hover,
.nav-tabs > li.dropdown-header > a:focus {
	color: orange;
	cursor: default;
	background-color: #fff;
	border: 1px solid #ddd;
	border-bottom-color: transparent;
}
