.content {
	margin-top: 50px;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty {
	border-color: #FA787E;
}
.ng-valid.ng-dirty {
	border-color: #78FA89;
}

.pCarouselImg Img {
	width: auto;
	height: 400px;
	max-height: 400px;
}

.thumb-big {
	height: 159px;
	width: 209px;
}

.edna {
	height: 525px;
	width: auto;
}

.myFooter {
	color: #FA787E;
	background-color: rgb(38,38,38);
	height: 30px;
}

.whiteDgray {
	color: white;
	background-color: rgb(51,51,51);
}