<section data-ng-controller="AlbumsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Albums</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="album in albums" data-ng-href="#!/albums/{{album._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="album.created | date:'medium'"></span>
				by
				<span data-ng-bind="album.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="album.name"></h4>
            <h4 class="list-group-item-heading" data-ng-bind="album.thumbnail"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!albums.$resolved || albums.length">
    	No Albums yet, why don't you <a href="/#!/albums/create">create one</a>?
    </div>
</section>