<section data-ng-controller="PicturesController" data-ng-init="find()">
    <div class="page-header">
        <h1>Pictures</h1>
    </div>

    <div class="table-responsive">
        <table st-table="displayedPictures" st-safe-src="pictures" class="table table-hover table-bordered">
            <thead>
            <tr>
                <th colspan="5"><input st-search="" class="form-control" placeholder="global search ..." type="text"/></th>
            </tr>
            <tr>
                <th st-sort="name">Description</th>
                <th st-sort="albumgroupName">Group</th>
                <th st-sort="album.name">Album</th>
                <th>Preview</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr data-ng-repeat="picture in displayedPictures">
                <td>{{picture.name}}</td>
                <!--<td>{{albumgroupName}}</td>-->
                <!--<td>{{picture.album.name}}</td>-->
                <td>{{initImg(picture.album.albumgroup)}}</td>
                <!--<td><img  src="modules/core/img/photoalbums/{{albumgroupName}}/{{picture.album.name}}/{{picture.filename}}" class="thumb-sm"/></td>-->

                <td><a class="btn btn-info btn-sm" href="/#!/pictures/{{picture._id}}/edit"><i class="glyphicon glyphicon-edit"></i></td></a>
                <td><a class="btn btn-sm btn-danger" href="/#!/pictures/{{picture._id}}"><i class="glyphicon glyphicon-trash"></i></a></td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="5" class="text-center">
                    <div st-pagination="" st-items-by-page="10" st-displayed-pages="100"></div>
                </td>
            </tr>
            </tfoot>
        </table>
    </div>

    <div class="alert alert-warning text-center" data-ng-hide="!pictures.$resolved || pictures.length">
    	No Pictures yet, why don't you <a href="/#!/pictures/create">create one</a>?
    </div>
</section>

