<section data-ng-controller="AlbumgroupsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Albumgroups</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="albumgroup in albumgroups" data-ng-href="#!/albumgroups/{{albumgroup._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="albumgroup.created | date:'medium'"></span>
				by
				<span data-ng-bind="albumgroup.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="albumgroup.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!albumgroups.$resolved || albumgroups.length">
    	No Albumgroups yet, why don't you <a href="/#!/albumgroups/create">create one</a>?
    </div>
</section>